name: Events Workflow

on: 
  push:
    branches:
      - main
      - 'dev-*' # This will trigger the workflow for any branch that starts with 'dev-'
      - 'feature/**' # This will trigger the workflow for any branch that is in the 'feature' directory
    # paths:-ignore:
    #   - '.github/workflows/events.yml' # This will ignore changes to the workflow file itself
   
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run pytest
        run: |
          echo "Running tests..."

  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run pytest
        run: |
          echo "Running tests..."
      - name: deploy to Docker Hub
        run: |
          echo "Deploying to Docker Hub..."